html{
  overflow: hidden;
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  overflow: auto;
}

#header-container h1 {
  margin: 0;
  padding: 0;
}

.heading{
  font-size: 50px;
  color: white;
  vertical-align: middle;
}

#header-container{
  width: 100%;
  height:100px;
  line-height: 100px;
  background-color: #68110E;
  text-align: center;
  vertical-align: middle;
}

#main_container{
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: 650px;
  border: 2px solid blue;
  background-color: gray;
}

.inputContainer{
  text-align: center;
  padding: 10px;
}

#inputToDo{
  height: 30px;
  width: 70%;
  font-size: 30px;
}

#addButton{
  vertical-align: bottom;
  background-color: #68110E;
  color: white;
  font-size: 30px;
  width: 30%;
}

#addButton:hover{
  color: black;
  cursor: pointer;
}

.searchContainer{
  text-align: center;
  margin-top: 10px;
}

#search{
  height: 30px;
  width: 90%;
  font-size: 30px;
}

#container{
  margin-right: auto;
  margin-left: auto;
  border: 2px solid blue;
  height: 500px;
  width: 90%;
  overflow: scroll;
}

.listClass{
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  background: #A9B2C3;
  color: black;
}

.checked{
  text-decoration: line-through;
  color: pink;
}

.iconclick{
  float: right;
}

span:hover{
  color: white;
}

.iconclick:hover{
  color: white;
  cursor: pointer;
}
.menu{
  width: 100%;
  height:40px;
  font-size: 30px;
  background-color: #68110E;
  text-align: center;
}

#page{
  text-align: center;
  font-size: 3em;
}

a:hover{
  color: black;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.menu ul{
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
